$border_color: #ddd;
$light_green: #008073;
$dark_green_color: darkgreen;
$dark_golden_color: darkgoldenrod;
$black_color: #333;
$gray_color: #666666;
$white_color: white;
$dark_brown: #795548;


// background colors

$top_background: #fafafa;
$background_color: rgba(0, 0, 0, 0.02);